@page "/counter"
@using Application.Interfaces;
@using Application.Services;
@inject IConfiguration Configuration

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<p role="status">Current count: @exampleApiResponse</p>
<button class="btn btn-primary" @onclick="CallApi">Click me</button>

@code {
    private IExampleService _exampleService;

    protected override void OnInitialized()
    {
        _exampleService = new ExampleService(configuration: Configuration);
    }

    private int currentCount = 0;
    private string exampleApiResponse = "Nothing yet";

    private void IncrementCount()
    {
        currentCount++;
    }
    private async Task CallApi() => exampleApiResponse = await _exampleService.GetExampleAsync() ?? "Null Api response";
}
